@import url(http://fonts.googleapis.com/css?family=Dosis:800);
body {
    font-family: 'Dosis';
}
#status {
  height 10%;
}
h1 {
    margin: 0;
}
#exemplar {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 20%;
    border-style: solid;
    border-width: 1px;
}
#painting {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 20%;
    right: 0%;
    border-style: solid;
    border-width: 1px;
}
#painting-overlay {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 20%;
    left: 50%;
    border-style: solid;
    border-width: 1px;
}
#splash {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
#stats {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #1d1d1d;
}
